src/main/mule/get-all-products.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:batch="http://www.mulesoft.org/schema/mule/batch" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="825c825c-d54f-4af6-b8ad-611b50fbb9cb" >
		<db:my-sql-connection host="localhost" port="3306" user="root" password="Mysql321!" database="full-stack-ecommerce" />
	</db:config>
	<flow name="TransoformJsonFlow" doc:id="061035ad-2178-4220-997b-4d3492952743" >
		<ee:transform doc:name="Transform Message" doc:id="7917d505-1992-4d15-8836-49218054880b">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---

payload map(val, index)->{
	
	id:val.sku,
	name:val.name,
	description: val.description,
	unit_price:val.unit_price,
	active: if(val.active == 1) "A" else "I",
	category:val.category_name,
	categoryId: val.category_id
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="7c7ee389-5732-4014-bf80-18dcc197a8cd" message="#[payload]" />
	</flow>
	<flow name="get-all-productsFlow" doc:id="05926c6f-90a0-4f24-81ad-2a2771bd3bfc" >
		<logger level="INFO" doc:name="Logger" doc:id="414eff50-7926-417b-8f5c-a55b1eaa3d5c" />
	</flow>
	<flow name="getAllProducts" doc:id="72d1e449-8b07-42d6-a3e4-be1c137a0ff3">
		<logger level="INFO" doc:name="Logger" doc:id="6d7cd97c-4af1-4025-861b-660eb8e92c3a" message="getAllProducts" />
		<db:select doc:name="Get Products from DB" doc:id="f24f093e-1dad-4d8a-be2e-114c0eba0354" config-ref="Database_Config">
			<db:sql><![CDATA[SELECT p.sku, p.name, p.description, p.image_url, p.active, p.units_in_stock, p.unit_price, p.category_id, p.date_created, pc.id, pc.category_name
FROM product p, product_category pc
where p.category_id = pc.id]]></db:sql>
		</db:select>
		<batch:job jobName="get-all-productsBatch_Job" doc:id="a1ff96dd-b102-4f75-9373-b5515b0e95bd" blockSize="50">
			<batch:process-records >
				<batch:step name="Batch_Step" doc:id="6649209c-1032-43b2-ba2f-a627bb65e827" >
					<batch:aggregator doc:name="Batch Aggregator" doc:id="dd54fc37-3514-4b70-a883-f7d379a3c118" streaming="true">
						<ee:transform doc:name="Java to CSV" doc:id="f5c20f85-cf73-47e0-8f59-ca4b0fc7e74b">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/csv
---

payload ]]></ee:set-payload>
			</ee:message>
		</ee:transform>
						<file:write doc:name="Write Products" doc:id="929f9ae1-89a3-4440-b226-648a658bc2d7" path="D:\Mulesoft\Course Files\APDevFundamentals4.4_studentFiles_SP_27jun2022\resources\input\products.csv" mode="APPEND" createParentDirectories="false" />
						<logger level="INFO" doc:name="Logger" doc:id="c48db3ee-d7ab-4e23-888b-ce44173e27c6" message="#[payload]" />
						<logger level="INFO" doc:name="Logger" doc:id="fbe21473-4d2a-437e-8626-2aa550ae7cf3" message="**********************************************************************************" />
					</batch:aggregator>
				</batch:step>
			</batch:process-records>
			<batch:on-complete >
				<logger level="INFO" doc:name="Logger" doc:id="6237c4bc-33ff-4b08-b9b9-1338804d862f" message="#[payload]"/>
			</batch:on-complete>
		</batch:job>
		<ee:transform doc:name="Transform Message" doc:id="d97c0fad-bd4c-4203-bec3-e9f41926d8aa">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	status: "success",
	message : "File write successfully."
	
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
